<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title=""></app-page-title>

<div class="row">
    <div class="col-12">
        <h4 class="text-uppercase custom-bg-color p-2 mt-0 mb-3 text-center">Historial de Pagos</h4>

        <div class="card-content transparent-card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <form class="d-flex flex-wrap align-items-center">
                            <label for="inputPassword2" class="visually-hidden">Buscar</label>
                            <div class="me-3">
                                <input type="search" class="form-control my-1 my-lg-0" id="inputPassword2" name="search"
                                    placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="searchData2($event)">
                            </div>
                            <!--
                            <label for="status-select" class="me-2">Sort By</label>
                            <div class="me-sm-3">
                                <select class="form-select my-1 my-lg-0" id="status-select">
                                    <option selected="">All</option>
                                    <option value="1">Popular</option>
                                    <option value="2">Price Low</option>
                                    <option value="3">Price High</option>
                                    <option value="4">Sold Out</option>
                                </select>
                            </div> -->
                        </form>
                    </div>
                    <div class="col-auto">
                        <div class="text-lg-end my-1 my-lg-0">
                        </div>
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div>
        </div> <!-- end card -->
    </div> <!-- end col-->
</div>
<!-- end row-->


<div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let product of residentes | slice: (page-1) * pageSize : page * pageSize">
        <div class="row">
            <div class="col">

        <div class="card product-box custom-card">
            <div class="card-body">
                <div class="product-action">
                    <a  class="btn btn-success btn-xs waves-effect waves-light me-1"><i class="bi bi-check-circle-fill"></i></a>
                </div>
        
                <div class="bg-light">
                    <a [routerLink]="['../detail']" [queryParams]="{ id: product.resi_Id }">
                        <img [src]="product.expe_Fotografia" alt="product-pic" class="img-fluid" />
                    </a>
                </div>
        
                <div class="product-info">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="font-16 mt-0 sp-line-1">
                                <a [routerLink]="['../detail']" [queryParams]="{ id: product.resi_Id }" class="text-dark">
                                    {{ product.resi_NombreCompleto }}
                                </a>
                            </h5>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- end product info -->
            </div>
        </div> <!-- end card -->
     </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-12">
        <ngb-pagination [collectionSize]="residentes.length" class="pagination-rounded d-flex justify-content-end mb-2"
        [(page)]="page" [pageSize]="pageSize"></ngb-pagination>

    </div> <!-- end col-->
</div>
<!-- end row-->
<style>
    .transparent-card {
        margin-bottom: 20px; /* Margen inferior para separar la primera tarjeta */
    }
    .col-md-6.col-xl-3 {
        margin-bottom: 20px; /* Margen inferior para separar las tarjetas */
    }
</style>