.card-content {
    background-image: url('/assets/images/HOLA.png');
    background-repeat: no-repeat;
    background-position: left center; /* Alineación a la izquierda */   
  }
  
  .transparent-card {
    /*background-color: rgba(0, 0, 0, 0.5); /* Ajusta el último valor (0.0 - 1.0) para cambiar el nivel de transparencia */
    background-color: rgba(108, 151, 172, 0.5);
  }
  
  .custom-bg-color {
    background-color:#b0c6d23e;
  }
  
