<div class="row">
    <div class="col-12">
        <h4 class="text-uppercase custom-bg-color p-2 mt-0 mb-3 text-center">INICIO</h4>

        <div class="card-content transparent-card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <form class="d-flex flex-wrap align-items-center">
                            <div class="me-3">
                                
                            </div>
                         
                        </form>
                    </div>
                    <div class="col-auto">
                        <div class="text-lg-end my-1 my-lg-0">
                        </div>
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div>
        </div> <!-- end card -->
    </div> <!-- end col-->
</div>

<!-- end page title -->

<div class="card">

    
</div>

<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body pb-2">
                <div class="float-end d-none d-md-inline-block">
                    <div class="btn-group mb-2">
                       
                    </div>
                </div>

                <h4 class="header-title mb-3" i18n>Enfermedades por centro</h4>

                <div dir="ltr">
                    <div id="sales-analytics" class="mt-4">
                        <apx-chart class="apex-charts" [series]="salesAnalyticsChart.series!"
                            [chart]="salesAnalyticsChart.chart!" [plotOptions]="salesAnalyticsChart.plotOptions!"
                            [dataLabels]="salesAnalyticsChart.dataLabels!" [yaxis]="salesAnalyticsChart.yaxis!"
                            [legend]="salesAnalyticsChart.legend!" [grid]="salesAnalyticsChart.grid!"
                            [fill]="salesAnalyticsChart.fill!" [colors]="salesAnalyticsChart.colors!"
                            [labels]="salesAnalyticsChart.labels!" [xaxis]="salesAnalyticsChart.xaxis!"
                            [stroke]="salesAnalyticsChart.stroke!"></apx-chart>
                    </div>
                </div>
            </div>
        </div> <!-- end card -->
    </div> <!-- end col-->
   
</div>
<!-- end row -->