<app-page-title [breadcrumbItems]="pageTitle" title="Agendas
"></app-page-title>

<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-between mb-2">
                <div class="col-12">
                    <div>
                        <!-- <button type="button" class="btn btn-success waves-effect waves-light mb-2 float-end"><i
                                class="mdi mdi-cog"></i></button> -->

                        <!-- <a [routerLink]="['../crear']" class="btn btn-danger waves-effect waves-light mb-2"> Agregar</a> -->
                    </div>
                </div><!-- end col-->
            </div>
            <!-- customer table -->
            <app-advanced-table #advancedTable (handleTableLoad)="handleTableLoad($event)" [tableData]="agendas"
                [columns]="columns" [pagination]="true" [isSearchable]="true" [hasRowSelection]="false"
                (search)="searchData($event)" [isSortable]="false" [pageSizeOptions]="pageSizeOptions"
                tableClasses="table-centered table-nowrap table-hover">
            </app-advanced-table>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div>
<!-- end row -->

<!-- Modal Delete -->
<ng-template #deleteAgendaModal let-modal>
    <div class="modal-header bg-light">
        <h4 class="modal-title" id="myCenterModalLabel">Eliminar agenda</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')"></button>
    </div>
    <div class="modal-body p-4">
        <p>¿Realmente desea eliminar esta agenda? Al eliminarla, la agenda del residente será cambiada a estándar</p>
        <br>
        <div class="text-end">
            <button type="button" (click)="deleteEnfermedad()" class="btn btn-success waves-effect waves-light me-1">Eliminar</button>
            <button type="button" class="btn btn-danger waves-effect waves-light"
                (click)="modal.close('')">Cancelar</button>
        </div>
    </div>
</ng-template>