<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header bg-light">
        <h4 class="modal-title" id="myCenterModalLabel">Editar enfermedad</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')"></button>
    </div>
    <div class="modal-body p-4">
        <form [formGroup]="editEnfermedad" #editEnfermedad="ngForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre" required formControlName="name"
                    [ngClass]="{ 'is-invalid': editEnfermedad.submitted && form1.name.invalid }">
                <div *ngIf="editEnfermedad.submitted && form1.name.invalid " class="invalid-feedback">
                    Nombre requerido
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-success waves-effect waves-light me-1">Guardar</button>
                <button type="button" class="btn btn-danger waves-effect waves-light"
                    (click)="modal.close('')">Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>
