<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Proveedores"></app-page-title>

<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-between mb-2">
                <div class="col-12">
                    <div>
                        <!-- <button type="button" class="btn btn-success waves-effect waves-light mb-2 float-end"><i
                                class="mdi mdi-cog"></i></button> -->
                        <button type="button" class="btn btn-danger waves-effect waves-light mb-2"
                            (click)="openModal()">Agregar</button>
                    </div>
                </div><!-- end col-->
            </div>
            <!-- customer table -->
            <app-advanced-table #advancedTable (handleTableLoad)="handleTableLoad($event)" [tableData]="proveedores"
                [columns]="columns" [pagination]="true" [isSearchable]="true" [hasRowSelection]="false"
                (search)="searchData($event)" [isSortable]="false"
                tableClasses="table-centered table-nowrap table-hover">
            </app-advanced-table>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div>
<!-- end row -->

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header bg-light">
        <h4 class="modal-title" id="myCenterModalLabel">Agregar proveedor</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')"></button>
    </div>
    <div class="modal-body p-4">
        <form [formGroup]="newProveedor" #addProveedor="ngForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre" required
                    formControlName="name" [ngClass]="{ 'is-invalid': addProveedor.submitted && form1.name.invalid }">
                <div *ngIf="addProveedor.submitted && form1.name.invalid " class="invalid-feedback">
                    Nombre requerido
                </div>
                <label for="name" class="form-label">Correo electrónico</label>
                <input type="text" class="form-control" id="correo" placeholder="Correo electrónico" required
                    formControlName="correo" [ngClass]="{ 'is-invalid': addProveedor.submitted && form1.name.invalid }">
                <div *ngIf="addProveedor.submitted && form1.name.invalid " class="invalid-feedback">
                    Correo requerido
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-success waves-effect waves-light me-1">Agregar</button>
                <button type="button" class="btn btn-danger waves-effect waves-light"
                    (click)="modal.close('')">Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>