.container {
  display: flex;
  justify-content: center;
}

.button-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* para agregar espacio entre los botones */
  margin-top: 70px;
}
.mb-3 {
  margin-bottom: 70px; /* Ajusta el valor del margen inferior del select */
}

.btn {
  flex: 1;
}

.radio-group input[type="radio"]:first-child {
  margin-right: 5px; /* Ajusta el valor del margen */
}

.radio-group input[type="radio"]:last-child {
  margin-left: 70px; /* Ajusta el valor del margen */
}


.is-invalid {
  border-color: red !important;
}