<app-page-title [breadcrumbItems]="pageTitle" title="
"></app-page-title>

<div class="row">
    <div class="col-12">
        <h4 class="text-uppercase custom-bg-color p-2 mt-0 mb-3 text-center">Agendas</h4>

        <div class="card-content transparent-card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <form class="d-flex flex-wrap align-items-center">

                        </form>
                    </div>
                    <div class="col-auto">
                        <div class="text-lg-end my-1 my-lg-0">
                            <a [routerLink]="['/apps/agendas/list']" class="btn btn-outline-secondary waves-effect waves-light mb-2">Volver</a>
                        </div>
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div>
        </div> <!-- end card -->
    </div> <!-- end col-->
</div>
<!-- end row-->


<div class="row">
    <div class="col-3">
        <!-- <a class="position-relative top-0 start-0 mt-3 ml-3">
            <i class="mdi mdi-arrow-left"></i> Regresar
        </a> -->
        <br>
        <button class="btn btn-lg font-16 btn-primary w-100 ellipsis" id="btn-new-event"
            (click)="createNewEvent()">
            <i class="mdi mdi-plus-circle-outline"></i> Agregar Actividad
        </button>
        <br>
        <br>
        <button class="btn btn-lg font-16 btn-blue w-100 ellipsis" id="btn-new-event"
            (click)="updateAgendaDetalles()">
            Guardar Cambios
        </button>
    </div>
    <div class="col-9">
        <div id="calendar" *ngIf="calendarOptions">
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>
</div>

<app-agenda-evento #eventModal (eventSaved)="handleEventSave($event)" (eventDeleted)="handleEventDelete($event)">
</app-agenda-evento>